
<div *ngIf="!editMode" class="row rounded border border-2 border-light">
  <div class="col">{{ displayName() }}</div>
  <div class="col">Contact: {{ contact.phone }} | {{contact.email }}</div>
  <div class="col-xs-6 col-sm-2 align-self-center">
    <button (click)="toggleEdit()" class="btn btn-sm btn-block btn-success">Edit</button>
  </div>
  <div class="col-xs-6 col-sm-2 align-self-center">
    <button (click)="deleteRecord()" class="btn btn-sm btn-block btn-danger">Delete</button>
  </div>
</div>

<form *ngIf="editMode" class="row rounded border border-2 border-light">
  <input name="id" type="hidden" [(ngModel)]="contact.id" />
  <input name="leadId" type="hidden" [(ngModel)]="contact.leadId" />
  <label for="familyName" class="col-sm-3">Family Name</label>
  <input name="familyName" class="col-sm-9" type="text" [(ngModel)]="contact.familyName" />
  <label for="personalName" class="col-sm-3">Personal Name</label>
  <input name="personalName" class="col-sm-9" type="text" [(ngModel)]="contact.personalName" />
  <label for="phone" class="col-sm-3">Phone Number</label>
  <input name="phone" class="col-sm-9" type="text" [(ngModel)]="contact.phone" />
  <label for="email" class="col-sm-3">Email</label>
  <input name="email" class="col-sm-9" type="text" [(ngModel)]="contact.email" />

  <button class="btn btn-success col-7" (click)="saveRecord()">Save</button>
  <button class="btn btn-light col-5" (click)="cancelEdit()">Cancel</button>
</form>