<div *ngIf="!editMode">
  <div class="row rounded border border-2 border-light">
    <div class="col-sm-8 row">
      <h3 class="col-12">{{ target.name }}</h3>
      <div class="col-12">Status: {{ targetStatusMap[target.status] }}</div>
      <div class="col-12">{{ target.description }}</div>

    </div>
    <div class="col-xs-6 col-sm-2 align-self-center">
      <button (click)="toggleEdit()" class="btn btn-sm btn-block btn-success">Edit</button>
    </div>
    <div class="col-xs-6 col-sm-2 align-self-center">
      <button (click)="deleteTarget()" class="btn btn-sm btn-block btn-danger">Delete</button>
    </div>
  </div>

  <h4 [ngClass]="{ 'col-12':true, btn:true, 'btn-info': hideContacts}"
      (click)="hideContacts=!hideContacts">
    Contacts
  </h4>
  <div class="offset-sm-2 col-sm-10" *ngIf="!hideContacts">
    <button class="btn btn-info btn-block" (click)="createNewContact()">Add Contact</button>
    <ng-container *ngFor="let c of target.primaryContacts; let i = index">
      <app-contact-detail [contact]="c"
                          [refId]="i"
                          [refListContainer]="target.primaryContacts">
      </app-contact-detail>
    </ng-container>
  </div>
</div>

<form *ngIf="editMode">
  <input name="id" type="hidden" [(ngModel)]="target.id" />
  <label class="col-sm-3" for="name">Business</label>
  <input class="col-sm-9" name="name" type="text" [(ngModel)]="target.name" />
  <label class="col-sm-3" for="status">Status</label>
  <select class="col-sm-9" name="status" [(ngModel)]="target.status">
    <ng-container *ngFor="let kv of targetStatusMap | keyvalue">
      <option [ngValue]="kv.key" [selected]="kv.key == target.status ? 'true' : 'false'">{{ kv.value }}</option>
    </ng-container>
  </select>
  <label class="col-sm-3" for="description">Description</label>
  <input class="col-sm-9" name="description" type="text" [(ngModel)]="target.description" />

  <button class="col-7 btn btn-success" (click)="saveTarget()">Save</button>
  <button class="col-5 btn btn-light" (click)="cancelEdit()">Cancel</button>
</form>